 .side-bar {
    background-color: #0044c9;
}

 h1{
     background-color: #0044c9;
 }

 .desc {
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

 .form-group {
    margin-top: 10px;
}

 .dropdown-menu.show {
    text-align: center;
    width: 100%;
}

 a.dropdown-item {
     padding-left: 0;
     padding-right: 0;
 }

 .f-title {
     text-decoration: underline;
 }

 .btn-group-vertical {
     width: 100%;
 }

 .profile-menu {
     margin-bottom: 3px;
 }
 div.btn.btn-light{
     font-weight: bold;
 }

 @media only screen and (max-width: 430px) {
    h1 {
        font-size: 26px !important;
    }

    label.form-check-label {
        font-size: 14px;
    }

    .dropdown-menu.show {
        font-size: 14px;
        min-width:inherit;
    }

    input.form-control{
        font-size: 14px;
    }

    .search {
        height: 17px;
        width: 17px;
    }

    .desc {
        font-size: 16px;
    }

    button#input-group-dropdown {
        font-size: 14px;
    }

    label{
        font-size: 14px;
    }

    .filter {
      font-size: 14px;
    }
}





