.header {
    background-color: #0044c9;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 1px ;
}

@media only screen and (max-width: 430px) {

    .icon{
        height: 30px;
        width: 30px;
    }
}